
#game {
  background-image: url("../images/Bpage.png");
}

/* Images ------------------------*/
.rule-img{
	margin: auto;
}
.game-card, .opp-game-card{
	height: 64px;
	width: 64px;
	margin: auto;
	display: none;
}
.game-card-off{
	height: 64px;
	width: 64px;
	margin: auto;
}

/*----------------------------------*/

.panel{
border: none;
background: rgb(0, 0, 0);

background: rgba(0, 0, 0, 0.5);

}

/*----------------------------------*/
#display-chat{
	overflow: scroll;
	width: 100%;
	height: 100px;
	background-color: white;
}


